.foot{
    position: fixed;
    bottom: 0;
    background: $primary-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 10px 0;
    font-size: small;
    font-weight: 600;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: $secondary-color;
    text-shadow: -3px 1px 5px black;

    & a{
        text-decoration: none;
        color: $secondary-color;
        font-size: 1.3rem;
        background: $primary-color;
        border-bottom: 3px solid $primary-color;
        transition: all 0.3s ease-in;

        &:hover{
            border-bottom:3px solid $accent-color;
            text-shadow: 1px -3px 5px black;
        }
    }

}